<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="/resources/logoFINAL.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resources/style.css">
    <br>
	<img src="/resources/logodashboard.png" alt="">
    <title>VacunAssist</title>
    <h1>VacunAssist</h1>
    <% if (login) { %>
        <br>
        <div id="header">
			<ul class="nav">
				<li><a href="">Mis datos</a>
					<ul>
						<li><a class="desplegable" href="listData">Ver mis datos</a></li>
						<li><a class="desplegable" href="updatedata">Actualizar mis datos</a></li>
						<li><a class="desplegable" href="listvaccines">Ver mis vacunas</a></li>
						</li>
					</ul>
				</li>
	
				<li><a href="">Mis turnos <span id="noti"> (<%= notif %>) </span></a>
					<ul>
						<li onclick="ocultar()"><a class="desplegable" href="listTurns">Ver mis turnos <span id="noti"> (<%= notif %>) </span></a></li>
						<li><a class="desplegable" href="cancelturn">Cancelar mis turnos</a></li>
						<li><a class="desplegable" href="requestturn">Solicitar turno para vacuna contra la fiebre amarilla</a></li>
						<li><a class="desplegable" href="requestcovidturn">Solicitar turno para vacuna contra el Covid-19</a></li>
						<li><a class="desplegable" href="requestflueturn">Solicitar turno para vacuna contra la gripe</a></li>
						
						
					</ul>
				</li>
			</ul>
		</div>   
		<script>
		</script>    
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
		<a href="viewMap" class="indexbtn">Ver mapa</a>
		<br>
		<a href="logout" class="indexbtn">Cerrar sesion</a>           
		<br>
		<a href="FAQ"class="indexbtn">Preguntas Frecuentes</a>
		<br>
		<a href="sobreNosotros" class="indexbtn">Sobre Nosotros</a> 
    <%} else { %>
        <h1><strong><%= name %></strong></h1> 
		<br>  
        <a href="login" class="indexbtn">Ir a Login</a>
    <% } %>
</head>
</html>