<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Preguntas frecuentes</title>
    <link rel="stylesheet" href="resources/style.css">
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
</head>
<body>
    <ul>
        <li>¿Que puedo hacer en la pagina?</li>
        <text>
            Hemos creado esta pagina para que usted pueda sacar y organizar sus turnos, ver sus vacunas aplicadas, visualizar 
            sus datos, entre muchas cosas mas desde su computadora o celular.
        </text>
        <li>¿Puedo ir a vacunarme sin tener una cuenta creada?</li>
        <text>
            Si se puede. El vacunador sera el encargado de crearle una cuenta, donde se le asignara su DNI
            como contraseña y lo unico que debera hacer es cambiarla en la comodidad de su hogar
        </text>
        <li>¿Cuantas dosis corresponden a cada vacuna?</li>
        <text>
            Para el COVID-19 son maximo 2 dosis, para la fiebre amarilla es una unica en la vida y para la
            gripe es una cada 12 meses.
        </text>
        <li>¿Quien puede darse cada vacuna?</li>
        <text>
            La vacuna del Covid-19 se la pueden dar todos los mayores de 18 años.
            La vacuna de la gripe se la puede dar cualquier persona.
            La vacuna de la fiebre amarilla se la pueden dar solamente los menores de 60 años.
        </text>
        <li>¿Donde puedo ver las zonas de los vacunatorios?</li>
        <text>
            En la pagina principal puede clickear en "Ver Mapa". 
            Alli se le presentara un mapa con las direcciones de todos los vacunatorios
        </text>
        <li>¿Donde puede ver mas informacion sobre las vacunas?</li>
        <text>En la siguiente pagina podra ver el calendario completo de vacunacion,
            junto con la importancia de cumplir la aplicacion de todas las vacunas: 
        </text>
        <a href="https://www.argentina.gob.ar/salud/vacunas">Pagina oficial del Gobierno</a>
        <br>
        <a href="/personUser/dashboard" class="btn-cancel">Volver al inicio</a>
    </ul>
</body>
</html>