<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">Preguntas frecuentes</title>
    <link rel="stylesheet" href="/resources/style.css">
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
</head>
<body>
    <br>
    <h1>Preguntas frecuentes</h1>
    <br>
    <ul>
        <li> <label class="label">¿Que puedo hacer en la pagina?</label></li>
        <label class="label">
            Hemos creado esta pagina para que usted pueda sacar y organizar sus turnos, 
            ver sus vacunas aplicadas, visualizar sus datos, entre muchas cosas mas desde 
            su computadora.
        </label>
        <br>
        <br>
        <li><label class="label" for="">¿Puedo ir a vacunarme sin tener una cuenta creada?</label></li>
        <label class="label">
            Si se puede. El vacunador sera el encargado de crearle una cuenta, donde se le asignara su DNI
            como contraseña y lo unico que debera hacer es cambiarla en la comodidad de su hogar
        </label>
        <br>
        <br>
        <li><label for="" class="label">¿Cuantas dosis corresponden a cada vacuna?</label></li>
        <label class="label">
            Para el COVID-19 son maximo 2 dosis, para la fiebre amarilla es una unica en la vida y para la
            gripe es una cada 12 meses.
        </label>
        <br>
        <br>
        <li><label for="" class="label">¿Quien puede darse cada vacuna?</label></li>
        <label class="label">
            La vacuna del Covid-19 se la pueden dar todos los mayores de 18 años.
            La vacuna de la gripe se la puede dar cualquier persona.
            La vacuna de la fiebre amarilla se la pueden dar solamente los menores de 60 años.
        </label>
        <br>
        <br>
        <li><label for="" class="label">¿Donde puedo ver las zonas de los vacunatorios?</label></li>
        <label class="label">
            En la pagina principal puede clickear en "Ver Mapa". 
            Alli se le presentara un mapa con las direcciones de todos los vacunatorios
        </label>
        <br>
        <br>
        <li><label for="" class="label">¿Donde puede ver mas informacion sobre las vacunas?</label></li>
        <label class="label">En la siguiente pagina podra ver el calendario completo de vacunacion,
            junto con la importancia de cumplir la aplicacion de todas las vacunas: 
        </label>
        <br>
        <a href="https://www.argentina.gob.ar/salud/vacunas" class="indexbtn">Pagina oficial del Gobierno</a>
        <br>
        <a href="/personUser/dashboard" class="indexbtn">Volver al inicio</a>
    </ul>
</body>
</html>