<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">VacunAssist: Inicio</title>
    <link rel="stylesheet" href="resources/style.css">
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
</head>
<body>
    <br>
    <br>
    <br>
    
    <h1 style="color:#575a57">Inicio: VacunAssist</h1>
    <br>
    <img src="/resources/logoFINAL.png">
    <br>
    <a href="/personUser/login" class="indexbtn">Iniciar Sesion</a>
    <br>
    <a href="/personUser/register" class="indexbtn">Registro</a>
</body>
</html>