<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion sobre las vacunas</title>
    <link rel="stylesheet" href="/resources/style.css">
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
</head>
<body>
    <h1>Informacion sobre las vacunas</h1>
    <br>
    <br>
    <form action="infovaccines" method="post" class="gripeform">
        <h4>Que vacuna desea aplicarse hoy?</h4>
        <select name="menuvacunas" id="menuvacunas" type="menu">
            <option selected="true" disabled="disabled"></option>
            <option value=""></option>
            <option value="Covid-19">Covid-19</option>
            <option value="Fiebre Amarilla">Fiebre Amarilla</option>
            <option value="Gripe">Gripe</option>
        </select>
        <br>
        <div id="nrodosis">
            <p>*En caso de ya contar con una dosis, consultar al usuario si transcurrio el tiempo recomendado luego de su primera dosis</p>
            <label for="">Que numero de dosis se aplicara?</label>
            <select id="nrodosisc" type="menu">
                <option selected="true" disabled="disabled"></option>
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </div>
        <br>
        <br>
        <h5>Ha recibido alguna vez la vacuna contra la gripe?</h5>
        <select type="menu" name="fluevaccine" id="menuFlue" required>
            <option selected="true" disabled="disabled"></option>
            <option value="1">Si</option>
            <option value="0">No</option>
        </select>
        <br>
        <br>
        <h5>Si su respuesta fue: 'si', ingrese en la fecha de cuando se aplicó esta vacuna: </h5>
        <br>
        <input type="date" name="datefluevaccine" id="inputDate" disabled required/>
        <script>
            let menuFlue= document.getElementById("menuFlue");
            menuFlue.addEventListener('change',()=>{
                let selectedOption = menuFlue.options[menuFlue.selectedIndex];
                let inputDate= document.getElementById("inputDate");
                if(selectedOption.value=="1"){
                    console.log("activo calendario");
                    inputDate.disabled=false;
                }else{
                    console.log("desactivo calendario");
                    inputDate.disabled=true;
                }
            });
        </script>

        <h5>Ha recibido alguna vez la vacuna contra la Fiebre Amarilla?</h5>
        <select type="menu" name="fevervaccine" id="menuFiebre" required>
            <option selected="true" disabled="disabled" required></option>
            <option value="1">Si</option>
            <option value="0">No</option>
        </select>
        <br>
        <br>
        <h5>Si su respuesta fue: 'si', ingrese en la fecha de cuando se aplico la vacuna:</h5>
        <br>
        <input class="datef" type="date" name="datefevervaccine" id="inputDate" disabled/>
        <script>
            let menuFiebre= document.getElementById("menuFiebre");
            menuFiebre.addEventListener('change',()=>{
                let selectedOption = menuFiebre.options[menuFiebre.selectedIndex];
                let inputDate= document.getElementById("inputDate");
                if(selectedOption.value=="1"){
                    console.log("activo calendario");
                    inputDate.disabled=false;
                }else{
                    console.log("desactivo calendario");
                    inputDate.disabled=true;
                }
            });
        </script>
        <br>
        <h5>Cuantas dosis de la vacuna de covid se ha aplicado?</h5>
        <select type="menu" name="menuCovid" id="menuCovid" required>
            <option selected="true" disabled="disabled" value="empty" required></option>
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
        </select>
        <br>
        <br>
        <script>
            //////aca manejo los display
            let divcovid= document.getElementById("nrodosis");
            divcovid.style.display= "none";
            let menu= document.getElementById("menuvacunas");
            menu.addEventListener('change',()=>{
                let selectedOption = menu.options[menu.selectedIndex];
                let infogripe= document.getElementById("menuFlue");
                let infofiebre= document.getElementById("menuFiebre");
                let infocovid= document.getElementById("menuCovid");
                if(selectedOption.value== "Gripe"){
                    infogripe.disabled=true;
                    infofiebre.disabled=false;
                    infocovid.disabled=false;
                    if (divcovid.style.display== 'inline'){
                        divcovid.style.display= 'none';
                    }
                }else{
                    if (selectedOption.value== 'Fiebre Amarilla'){
                        infofiebre.disabled=true;
                        infogripe.disabled=false;
                        infocovid.disabled=false;
                        if (divcovid.style.display== 'inline'){
                            divcovid.style.display= 'none';
                        }
                    } else { //si selecciona la del covid
                        if (divcovid.style.display== 'none'){
                            divcovid.style.display= 'inline';
                        }
                        infofiebre.disabled=false;
                        infocovid.disabled= true;
                        infogripe.disabled=false;
                    }
    
                }
            });
        </script>

        <input type="submit" value="Continuar">
    </form>
</body>
</html>