<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informacion Covid-19</title>
    <link rel="stylesheet" href="resources/style.css">
</head>
<body>
    <h1>Informacion Covid-19</h1>
    <h2>Cuantas dosis se aplico de la vacuna contra el covid-19?</h2>
    <select type="menu" name="dosisCovid" required>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
    </select>
</body>
</html>