<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="titulo">sobre nosotros</title>
    <link rel="stylesheet" href="resources/style.css">
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
</head>
<body>
    <ul>
        <li>¿Que es Vacunassist?</li>
        <text>
            Vacunassist es una empresa encargada de administrar las aplicacion y turnos para las vacunas del 
            COVID-19, gripe y fiebre amarilla en la ciudad de La Plata.
            Contamos con los mejores profesionales para que te sientas comodo durante tu visita.
            Tambien tenemos tres vacunatorios dispersados por la ciudad, para que sea accesible para todos, y
            con las mayores comodidades para usted.
        </text>
        <li>¿Por donde podria contactarme?</li>
        <text>
            Si tiene alguna duda puede escribirnos a vacunassist@contacto.com. Alli le resolveremos todas la Dudas
            y problemas que sean necesarias
        </text>
        <a href="/personUser/dashboard" class="btn-cancel">Volver al inicio</a>
    </ul>
</body>
</html>