<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver mis turnos</title>
</head>
<body>
    <table border="1">
        <tr>
          <th>Vacuna</th>
          <th>Nro Dosis</th>
          <th>Estado</th>
          <th>Fecha</th>
        </tr>
        
        <% for(let i=0;i<turnsinfo.length;i++){ %>
          <tr>
            <td><%= turnsinfo[i].vaccinename %></td>
            <td><%= turnsinfo[i].dose %></td>
            <td><%= turnsinfo[i].state %></td>
            <td><%= turnsinfo[i].date %></td>
          </tr>
        <% } %>
      </table>
      <a href="/personUser/dashboard">Retornar</a>
</body>
</html>