<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/resources/logoFINAL.png">
    <link rel="stylesheet" href="/resources/style.css">
    <title>Mapa</title>
</head>
<body>
    <br>
    <h3>Mapa</h3>
    <br>
    <ul>
        <li name="text">Vacunatorio Zona Terminal de Omnibus: 3 e/ 41 y 42 Nro. 480 </li>
        <li name="text">Vacunatorio zona Municipalidad: 51 e/10 y 11 Nro. 770 </li>
        <li name="text">Vacunatorio zona Cementerio: 138 e/73 y 74 Nro. 2035</li>
    </ul>
    <br>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1FjZt5QV-E6Zq9WSjWQNTTnvrVQ3oZQkd&ehbc=2E312F" width="520" height="360"></iframe>
    <br>
    <a href="/personUser/dashboard" class="indexbtn">Volver al inicio</a>
    <br>
</body>