<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VacunAssist: mis datos</title>
    <h1>Mis datos</h1>
    <label for="">Nombre: </label> <label name="name"></label>
    <br>
    <label for="">Apellido: </label> <label name="lastname"></label>
    <br>
    <label for="">Email: </label> <label name="email"></label>
    <br>
    <label for="">DNI: </label> <label name="DNI"></label>
    <br>
    <label for="">Fecha de nacimiento: </label> <label name="dateofbirth"></label>
    <br>
    <label for="">Zona: </label> <label name="zone"></label>
    <br>
    <a href="updatedata" class="">Actualizar mis datos</a>
</head>
<body>
    
</body>
</html>